/* 
    Created on : 14 avr. 2016, 10:21:51
    Author     : mtancoigne
*/
h3{
	border-bottom: 1px solid #DDD;
}


.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

.polaroid {
  padding: 10px;
  margin: 5px;
  margin-bottom: 10px;
  border: 1px solid #999;
  background-color: #fff;
  color: #999;
  z-index: 10;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  -webkit-transition: box-shadow ease-in-out 0.2s, transform ease-in-out 0.2s;
  transition: box-shadow ease-in-out 0.2s, transform ease-in-out 0.2s;
  display: inline-block;
}
.polaroid img {
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.polaroid-description {
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 1.1em;
  color: black;
}
.polaroid-description a {
  color: black;
}
.polaroid p {
  line-break: normal;
}
.gal .polaroid:nth-child(even) {
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}
.gal .polaroid:nth-child(3n) {
  margin-top: -5px;
}
.gal .polaroid:nth-child(5n) {
  margin-right: 5px;
}
.gal .polaroid:nth-child(8n) {
  margin-top: 8px;
  margin-right: 5px;
}
.gal .polaroid:nth-child(11n) {
  margin-top: 3px;
  margin-left: -5px;
}
.polaroid-title {
  padding: 5px;
  margin-top: 0;
  font-size: 1em;
  line-height: 1em;
  width: 2em;
  height: 2em;
  background-color: #fff;
}
.polaroid-title a {
  text-decoration: none;
}
#wall .polaroid:hover {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  z-index: 10;
}
#wall .polaroid:hover .polaroid-title {
  visibility: visible;
}


/* Special hack for CV page*/
#cv .panel .list-group{
	margin:0;
}
#cv .panel .list-group .list-group-item:first-child{
	border-top-color: transparent;
}
#cv .img-avatar{
	width:150px;
	padding:5px;
	border:1px dotted #ccc; 
	background-color: #eee;
}
.list-unstyled.list-main li{
	margin-bottom:5px;
}
.list-unstyled.list-main .list-unstyled{
	margin-left:10px;
}
.list-unstyled.list-main .list-unstyled{
	margin-bottom:0;
}

